@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}

<!DOCTYPE HTML>

<html>
	<head>
		<meta name="viewport" content="width=display-width"/>
		<title>RspvForm</title>
		<link rel="stylesheet" href="/css/styles.css"/>
		<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
	</head>

<body>
<h5 class="bg-primary text-white text-center m-2 p-2">RSPV</h5>
<form asp-action="RspvForm" method="post" class="m-2">
	<div asp-validation-summary="All"></div>
	<div class="form-group">
		<label asp-for="Name">Name: </label>
		<input asp-for="Name" class="form-control"/>
	</div>
	<div class="form-group">
		<label asp-for="Email">Email: </label>
		<input asp-for="Email" class="form-control"/>
	</div>
	<div class="form-group">
		<label asp-for="Phone">Phone: </label>
		<input asp-for="Phone" class="form-control"/>
	</div>
	<div class="form-group">
		<label> Will you attend?</label>
		<select asp-for="WillAttend" class="form-control">
			<option value="">Choose an option</option>
			<option value="true">Yes, I'll be there</option>
			<option value="false">No, I can't come</option>
		</select>
	</div>
	<button type="submit" class="btn btn-primary">Submit RSPV</button>
</form>
</body>
</html>
